body {
	width: 80%;
	margin: 0 auto;
}
header {
	width: 100%;
}
nav {
	width: 100%;
}
section {
	width: 100%;
}
article {
	width: 100%;
}
aside {
	width: 100%;
}
footer {
	width: 100%;
}
.empty {
	display: block;
	clear: both;
}
.absolute {
	position: absolute;
}
.relative {
	position: relative;
	background-color: "#ddd";
}

/* 树 */
	.tree {
		width: 350px;
		height: 480px;
		overflow: auto;
		background: #ddf;
		margin: 25px auto auto 45px;
	}
		.tree li {
			list-style-type: none;
			cursor: pointer;
		}
		.tree ul {
			padding-left: 0px;
			overflow: hidden;
			/*display: */
		}
		.closeUl {
			/*padding-left: 0px;
			overflow: hidden;*/
			height: 0px;
		}
		.openUl {
			/*padding-left: 0px;
			overflow: hidden;*/
			height: auto;
		}
		.treeLineHorizontal {
			width: 20px;
			height: 11px;
			background: url(../image/pin.jpg) repeat-x;
		}
		.treeLinevertical {
			width: 11px;
			height: 20px;
			background: url(../image/mnls.jpg) repeat-y;
		}
		
		.radioDivEmpty {
			width: 20px;
			height: 20px;
			background: url(../image/radioDivEmpty.png);
			display: inline-block;
		}
		.radioDivSolid {
			width: 20px;
			height: 20px;
			background: url(../image/radioDivSolid.png);
			display: inline-block;
		}
		.radioDivEmpty > input, .radioDivSolid > input {
			display: none;
		}
		.checkboxDivEmpty {
			width: 20px;
			height: 20px;
			background: url(../image/litreeIcon.png) -40px 0px;
			display: inline-block;
		}
		.checkboxDivSolid {
			width: 20px;
			height: 20px;
			background: url(../image/litreeIcon.png) -40px -20px;
			display: inline-block;
		}
		.checkboxDivEmpty > input, .checkboxDivSolid > input {
			display: none;
		}

		.directRight {
			width: 20px;
			height: 20px;
			background: url(../image/litreeIcon.png) 0px 0px no-repeat;
			/*transform: scale(-90deg);*/
			display: inline-block;
		}
		.directDown {
			width: 20px;
			height: 20px;
			background: url(../image/litreeIcon.png) 0px 0px no-repeat;
			transform: rotate(90deg);
			display: inline-block;
		}
		/*.ulLine {
			width: 10px;
			height: 100%;
			background: url(../image/vertical.png) repeat-y;
			display: block;
			float: left;
		}*/
		.brunchLienH {
			width: 30px;
			height: 20px;
			background: url(../image/horizon.png) repeat-x;
			display: inline-block;
		}
		.brunchCross {
			width: 40px;
			height: 20px;
			display: inline-block;
		}
		.brunchLienV {
			width: 40px;
			height: 20px;
			background: url(../image/vertical.png) repeat-y;
			/*transform: rotate(90deg);*/
			display: inline-block;
		}
		.brunchLienVH {
			width: 10px;
			height: 20px;
			background: url(../image/vertical.png) repeat-y;
			display: inline-block;
		}

		.hoverLi {
			background: #dfd;
		}

/* 右键菜单 */
	.RM {
		background: #356;
	}

/* 可编辑的 */
	.hadlePanel {
		width: 80px;
		height: 25px;
		background: #d97;
		opacity: 1;
	}
	.addToBefore {
		width: 20px;
		height: 20px;
		background: url(../image/ableEdit.png) -20px 0px no-repeat #79d;
		float: left;
	}
	.addToAfter {
		width: 20px;
		height: 20px;
		background: url(../image/ableEdit.png) -20px -20px no-repeat red;
		float: left;
	}
	.delItem {
		width: 20px;
		height: 20px;
		background: url(../image/ableEdit.png) 0px 0px no-repeat green ;
		float: left;
	}

/* mouseenterImageBig */
	